.namename{
    text-align: center;
}
h1{
    font-size: 70px;
}
.name{
    color:rgb(29, 28, 28);
}

.head1{
    background: linear-gradient(90deg, rgb(230, 240, 244) 20%, rgba(145,202,238,1) 100%);
}
.right{
    background: radial-gradient(circle, rgba(145,202,238,1) 0%, rgba(230, 240, 244) 100%);
}
.left{
    background: radial-gradient(circle, rgba(212,237,255,1) 0%, rgba(255,250,250,1) 100%);
}
.head2{
    background-color: #ffffff;
}
h4{
    color: rgb(10, 10, 10);
}
p{
    color: #090e31;
}
.into{

    color:rgb(75, 74, 74);
}
.bob{
    background-color: rgb(247, 240, 231);
}
.head6{
    height: 40px;
    background: linear-gradient(241deg, rgba(145,202,238,1) 0%, rgba(230, 240, 244) 100%);
}
.f{
    text-align: center;
}

.flex-container{
    display: flex ;
    flex-wrap: nowrap;
  }

